.button {
    @include button(#fff, #fff);
    transition: all .4s;
    &:hover {
    background-color: #FFAC1C;
    color: #000;
    transform: scale(1.2)
    }
    &--black {
        @include button(#000, #000);
        margin-top: 60px;
    }
}

@media screen and (max-width: 1024px) {
    .button {
        width: 248px;
        height: 48px;
        line-height: 48px;
        font-size: .85rem;
        margin-top: 45px;
   }
}

