.container {
    max-width: 1189px;
    margin: 0 auto;
    padding: 44px 0 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

@media screen and (max-width: 1220px) {
    .container {
        max-width: 970px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
      margin-left: 42px;
      margin-right: 31px;
      padding: 13px 0;
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin-left: 24px;
        margin-right: 13px;
        padding: 8px 0;
    }
}

@media screen and (max-width: 550px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}