
.dishes__text {
  font-size: $small-font;
  line-height: $small-line;
  margin: 30px 0 57px;
}

@media screen and (max-width: 1024px) {
  .dishes__text {
    font-size: 1.1rem;
    line-height: 27px;
    margin: 30px 0 38px;
  }
}