.menu {
    &__item {
        font-size: 1.1rem;
        line-height: 28px;
        text-decoration: none;
        color: #fff;
        transition: all .2s;
        &:not(:last-child) {
            margin-right: 25px;
        }
        &:not(:last-child)::after {
            content: "";
            display: inline-block;
            width: 1.5px;
            height: 16px;
            margin-left: 25px;
            background-color: #D8D5D5;
        }
        &:hover {
            color: #FFAC1C;
        }
    }
}

@media screen and (max-width: 1024px) {
    .menu {
        &__item {
            font-size: .9rem;
            &:not(:last-child)::after {
                height: 13px;
            }
        }    
    }   
}

@media screen and (max-width: 550px) {
    .menu {
        justify-content: center;
    }
}


@media screen and (max-width: 450px) {
    .menu {
        &__item {
            font-size: .8rem;
            &:not(:last-child) {
                margin-right: 10px;
            }
            &:not(:last-child)::after {
                margin-left: 10px;
                width: 1px;
            }
        }    
    }        
}
