$bg-color: #F3F7EA;

$title-line: 50px;
$base-line: 41px;
$small-line: 31px;
$recipe-line: 23px;

$title-font: 2rem;
$base-font: 1.5rem;
$small-font: 1.25rem;
$recipe-font: .9rem;

$normal: 300;
$bold: 400;
$title-weight: 600; 